.recommended-friends {
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 90px;
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  display: block;
  margin-top: 70px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  padding-top: 10px;
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-chat__header i {
  opacity: 0.4;
}

.open-post {
  display: flex;
  justify-content: space-between;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 15px;
}

.open-post__members .divider {
  width: 1px;
  height: 14px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  justify-content: space-between;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 3px;
  font-size: 11px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__title-second {
  margin-top: 35px;
}

.open-post-second {
  display: flex;
  justify-content: space-between;
}

.open-post__title-second {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags-second {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members-second {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.open-post__members-second img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count-second {
  opacity: 0.5;
  font-size: 15px;
}

.open-post__members-second .divider-second {
  width: 1px;
  height: 14px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-post__member-status-second {
  color: #ffb0e0;
}

.open-post__photo-second {
  position: relative;
  margin-top: 30px;
}
.open-post__photo-second img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  justify-content: space-between;
}

.open-post__heart-count-second {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 3px;
  font-size: 11px;
}

.open-post__heart-count-second span {
  margin-left: 3px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: violet;
    transform: scale(1.8);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 0.5s linear infinite;
}
