.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #feeff4;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 236, 236, 0.445);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #fab5b9;
}
.nav__notification {
  position: absolute;
  left: 17px;
  bottom: 16px;
}

.nav__comma {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  position: absolute;
  left: 30px;
}
